.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    background-color: rgba(238, 225, 225, 0.5);
  }
  
  .hidden {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./asset/orimg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}